@mixin colored-anchor( $color: inherit ) {
	color:$color;
	font-weight: $global-weight-bold;
	&:hover,
	&:focus {
		color: $anchor-color-hover;
		@if $anchor-text-decoration-hover != $anchor-text-decoration {
			text-decoration: $anchor-text-decoration-hover;
		}
	}
}

@mixin dark-background() {
	background:$black;
	color: $white;
	a {
		color:$white;
		font-weight: $global-weight-bold;
		&:hover, &:focus {
			color: $anchor-color-hover;
			@if $anchor-text-decoration-hover != $anchor-text-decoration {
				text-decoration: $anchor-text-decoration-hover;
			}
		}
	}
	h1,h2,h3,h4,h5,h6 {
		color:$white;
	}
}

@mixin line-after( $color: $black, $width: 35px ) {
	text-align:center;
	padding-bottom: $global-padding;
	position:relative;
	&:after {
		content: '';
		bottom: 0;
		position: absolute;
		width: $width;
		height: 1px;
		background: $color;
		left: 50%;
		margin-left: -( $width / 2 );
	}
}

@mixin tag-card( $background: $light-gray, $color: $black ) {
	font-size: 70%;
	text-decoration:none;
	padding: rem-calc( 5 ) rem-calc( 10 );
	background: $background;
	border-radius: $global-radius;
	color: $color;
	a {
		@include colored-anchor( $black );
		font-weight: $global-weight-normal;
	}
}

@mixin headers-size( $size_increment: 0, $base: medium ) {
	$headers: map-get( $header-styles, $base );
	@each $header, $font-size in $headers {
		#{$header} {
			font-size:rem-calc( map-get( $font-size, 'font-size' ) + $size_increment );
		}
	}
}

@mixin arrow( $color: $primary-color ) {
	content: '';
	position:absolute;
	right:0;
	border: solid $primary-color;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
}

@mixin arrow-down( $color: $primary-color ) {
	@include arrow( $color );
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	top:42%;
}

@mixin arrow-right( $color: $primary-color ) {
	@include arrow( $color );
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	top:45%;
}

@mixin gutenberg-color-palette-styles( $style, $color, $important: false ) {
	.has-#{$style}-color {
		color:$color;
	}
	.has-#{$style}-background-color {
		background-color:$color;
		.wp-block-button {
			&.is-style-outline .wp-block-button__link {

				@if $important == true {
					border-color:$color !important;
					background:transparent !important;
				}
				@if $important == false {
					border-color:$color;
					background:transparent;
				}
			}
		}
	}
}


@mixin gutenberg-color-palette-styles( $style, $color ) {
	.has-#{$style}-color {
		color:$color;
	}
	.has-#{$style}-background-color {
		background-color:$color;
		.wp-block-button {
			&.is-style-outline .wp-block-button__link {
				border-color:$color !important;
				background:transparent !important;
			}
		}
	}
}

@mixin gutenberg-editor-color-palette-styles( $style, $color ) {
	.wp-block-button {
		&.is-style-outline {
			.wp-block-button__link.has-#{$style}-color {
				color:$color;
			}
			.wp-block-button__link.has-#{$style}-background-color {
				border-color:$color !important;
				background-color:transparent !important;
			}
		}

	}
}

@mixin gutenberg-block-button( $editor: false ) {
	.wp-block-button {
		.wp-block-button__link {
			@include button();
			@if $editor == true {
				font-size: 0.9 * 19px;
			}
		}
		&.is-style-default .wp-block-button__link {
			border-radius:$domestic-radius;
		}
		&.is-style-outline .wp-block-button__link {
			@include button-hollow;
			@include button-hollow-style();
		}
	}
}

@mixin gutenberg-block-table() {
	table.wp-block-table {
		@include table('odd');
		td {
			border:none;
		}
	}
}
