@import '../owl-carousel/assets/owl.carousel.css';
@import '../owl-carousel/assets/owl.theme.green.css';

@import 'settings';
@import '~foundation-sites/scss/foundation';
@import 'mixins';

.owl-carousel.owl-theme {
	display:none;
	.owl-nav {
		position: absolute;
		pointer-events: none;
		top:0;
		left:0;
		right:0;
		margin:0;
		height:100%;

		button.owl-prev,
		button.owl-next {
			@include button(false, rgba($white, 0.6), $primary-color, $black);
			width:50px;
			height:50px;
			line-height:10px;
			top:50%;
			position: absolute;
			font-size:rem-calc( 36 );
			pointer-events: all;
		}

		button.owl-next {
			right:0;
		}

		button.owl-prev {
			left:0;
		}

		.owl-prev {
			float:left;
		}

		.owl-next {
			float:right;
		}
	}

	.owl-carousel-item {
		height:300px;
		cursor:pointer;
		position:relative;

		.owl-carousel-backdrop {
			position:absolute;
			background: rgba( 0,0,0,.3);
			top:0;
			left:0;
			right:0;
			bottom:0;
			transition: opacity 0.2s linear;
			opacity:0;
			z-index:1000;
		}

		&:hover .owl-carousel-backdrop,
		.owl-carousel-backdrop:hover {
			opacity:1;
		}
		.owl-carousel-item-content {
			opacity:1;
			position: absolute;
			padding:$global-padding;
			bottom:0;
			left:0;
			right:0;
			text-align:center;
			background: rgba( 0,0,0,.5);
			height:50%;


			h2 {
				a {
					@include colored-anchor( $white );
				}
			}

			.post-categories {
				color:darken( $light-gray, 10% );
				font-size:80%;
				margin-bottom:rem-calc( 10 );
			}
		}
	}
}
