# Exclude non-JS
**/*.css
**/*.md
**/*.php
**/*.xml
**/*.json
**/*.yml

# Third-party vendor files
node_modules/
vendor/

# Built folders
dist/
src/assets/owl-carousel/
package/

src/assets/js/owl.carousel.js
