#content .entry-content {
	> *.alignfull,
	> *.alignwide {
		margin-left  : calc( -100vw / 2 + 100% / 2 );
		margin-right : calc( -100vw / 2 + 100% / 2 );
		max-width    : 100vw;
	}

	@include breakpoint( medium ){
		> *.alignwide {
			margin-left:rem-calc(-100);
			margin-right:rem-calc(-100);
			max-width: $global-width + rem-calc( 200 );
		}

		.wp-block-cover-image.alignfull {
			width:100vw;
		}
	}

	figure.wp-block-image {
		margin-bottom:$paragraph-margin-bottom;
	}
}

.wp-block-button .wp-block-button__link {
	@include button-base();
}



