.sidebar {
	font-size: 90%;
	.widget {
		margin-bottom: 2 * $global-margin;
	}

	.widget-title {
		margin-bottom: $global-margin;
		@include line-after();
		padding-bottom: $global-padding / 2;
	}

	ul {
		list-style: none;
		margin-left: 0;
		li {
			line-height: 1.2 * $global-lineheight;
		}
	}
}

.widget_archive,
.widget_categories,
.widget_nav_menu {
	ul, ol {
		text-align: right;
		li {
			width: 100%;
			display:inline-block;
			a {
				float:left;
			}
			ul.children, ul.sub-menu {
				margin-left: $global-margin;
			}
		}
	}
}

.widget_recent_comments {
	ul {
		margin-left:$global-margin;
		list-style: circle;
	}
	li.recentcomments {
		margin-bottom:$global-margin;
	}
}


.footer .sidebar {
	display: flex;
	flex-wrap: wrap;
	@include breakpoint(small only) {
		flex-wrap: wrap;
	}
	section.widget {
		padding-right: $global-margin;
		padding-left: $global-margin;
	}

	.widget-title {
		font-size: 180%;
		text-align: left;
		&:after {
			height: 0;
		}
	}
	ul li {
		line-height: $global-lineheight;
	}

}

$widgets_sizes: (
		small: (
				1: 100%,
				2: 100%,
				3: 100%,
				4: 100%,
				5: 100%,
				6: 100%,
				7: 100%,
				8: 100%,
		),
		medium: (
				1: 100%,
				2: 50%,
				3: 33%,
				4: 25%,
				5: 25%,
				6: 33%,
				7: 25%,
				8: 25%,
		)
);


@each $breakpoint, $sizes in $widgets_sizes {
	@include breakpoint( $breakpoint ) {
		@each $count, $width in $sizes {
			body.domestic-footer-widgets-cols-#{$count} .footer .sidebar section.widget {
				width: $width;
			}
		}
	}
}